/* Enabled Clozes */
.cloze,
.dark .cloze,
.non-tested-cloze,
.light .cloze .latex-node__tex,
.dark .cloze .latex-node__tex {
	padding: 0px 4px 2px 4px !important;
	background-color: unset !important;
	border-bottom-width: 2px !important;
	/* Rounded Corners */
	border-radius: 4px !important; }

.rn-subscript.cloze,
.rn-subscript.non-tested-cloze,
.rn-superscript.cloze,
.rn-superscript.non-tested-cloze {
	border-bottom: none; }

/* Disabled Clozes */
.disabled_cloze,
.disabled_cloze .latex-node,
.disabled_cloze .latex-node__tex {
    background-color: unset !important; }

.disabled_cloze span.\!bg-gray-10.dark\:bg-gray-40 {
	background-color: unset !important; }

/* Cloze Arrow */
.rich-text-editor__change-cloze-button,
.dark .rich-text-editor__change-cloze-button {
	background-color: unset; }

.rich-text-editor__change-cloze-button:hover {
	background-color: unset; }

/* Cloze for Latex */
.light .latex-node,
.dark .latex-node,
.cloze .latex-node__tex.inline-block {
	border-bottom: none !important; }

/* Fix for References in Clozes */
.rem-reference-container.non-tested-cloze,
.rem-reference-container.cloze {
    border-bottom: none; }

/* Cloze Hints */
.cloze-hint {
	padding: 0px 4px 2px 4px;
	border-radius: 4px;
	border-width: 0px; }

.light .cloze-hint {
	background-color: #ececf4;
	color: #939298; }

.dark .cloze-hint {
	background-color: #33333b; }